.nav-item a{
  color: inherit!important;
  text-decoration: none!important;
}

.navbar-text {
  padding-right: 13px;
}

.navbar .show, .collapsing{
  line-height: normal;
  border-top: 3px solid #0072ab;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.navbar {
  line-height: 5em;
  height: auto;
  overflow: visible;
}

/* .navbarWrapper{
  line-height: 5em;
  height: auto;
  width: 100%;
  overflow: visible;
  position: relative;
} */

.border_div {
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  height: calc(6.25em - 1px);
  border-bottom: 1px solid black;
  z-index: -1;
}
