
.nav-item a{
  color: inherit!important;
  text-decoration: none!important;
}

.navbar-text {
  padding-right: 13px;
}

.navbar {
  padding: 0.5em 3em;
  line-height: 5em;
  max-height: 106px;
  overflow: visible;
}

.navbar .collapsing{
  transition: height .35s linear;
}

.navbar .show, .collapsing{
  padding: 2em 2em;
  background-color: white;
  line-height: normal;
  border-top: 3px solid #0072ab;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.navbar .show .nav-item, .navbar .collapsing .nav-item{
  padding: 1em 1em;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.border_div {
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  /* 1px off the border */
  height: calc(6.25em - 1px);
  border-bottom: 1px solid black;
  z-index: -1;
}

/* Main.js CSS */
.main {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}

.main .container-fluid{
  background-position: top center;
  background-image: url('/assets/Homepage_Hero_Final-compressor.jpg');
  padding-left: 0;
  padding-right: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.6em;
  text-shadow: 0em 0.1em 0.1em rgba(0,0,0,0.4)
}
