.App{
  margin-top: 106px;
}

.nav-item a{
  color: inherit!important;
  text-decoration: none!important;
}

.navbar-text {
  padding-right: 13px;
}

.navbar {
  padding: 0.5em 3em;
  line-height: 5em;
  max-height: 106px;
  overflow: visible;
  z-index: 9999;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.1);;
}

.navbar .collapsing{
  transition: height .35s linear;
}

.navbar .show, .collapsing{
  margin-top: 7px;
  padding: 2em 2em;
  background-color: white;
  line-height: normal;
  border-top: 3px solid #0072ab;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  z-index: 9999;
}

.navbar .show .nav-item, .navbar .collapsing .nav-item{
  padding: 1em 1em;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.lh_1_9{
  line-height: 1.9em;
}

/* Main.js CSS */
.main {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}

.main .container-fluid:first-child{
  padding-left: 0;
  padding-right: 0;
  font-weight: 700;
  font-size: 60px;
  text-shadow: 0em 0.1em 0.1em rgba(0,0,0,0.4)
}

.main .jumbotron-fluid{
  height: calc(100vh - 120px);
  background-position: top center;
  background-size: cover;
  background-image: url('./assets/Homepage_Hero_Final-compressor.jpg');
  padding: 100px 100px;
}

.mild_blue_bg{
  background-color: #0073A7;
}

.btn.mild_blue_bg{
  background-color: #0073A7;
  border: 3px solid #f8f9fa !important;
}

.btn.mild_blue_bg:hover{
  border: 3px solid #0073A7 !important;
}

.light-bg:hover{
  background-color: #f8f9fa;
  border: 3px solid #f8f9fa !important;
}

.mild_blue_border{
  border: solid 1.7px #0073A7;
}

.mild_blue_text{
  color: #0073A7;
}

.bootcamp_graduates{
  background-color: #EAF7F9;
}

.bootcamp_graduates p {
  line-height: 1.5em !important;
  font-size: 1.1em;
}

.our_impact{
  background-color: #95D3DC;
}

.text_blue_green {
  color: #0092A8;
}

.text_dark_blue{
  color: #0073A7;
}

h1 {
  margin-top: .5em;
  margin-bottom: 1.1em !important;
  font-weight: bold;
  line-height: 1.4em;
}

h2{
  margin-top: .5em;
  margin-bottom: 1em !important;
  font-weight: bold;
  line-height: 1.3em;
}

h3, h4, h5, h6{
  margin-top: .5em;
  margin-bottom: .8em;
  font-weight: bold;
  line-height: 1.4em;
 }

.main p {
  margin-bottom: .8em;
  line-height: 1.9em;
}

.main img{
  width: 100%;
  height: auto;
}

/* Home.js */
.home .jumbotron-fluid{
  height: 359px;
  background-size: cover;
  background-position: top center;
  text-shadow: 0em 0em 0.3em rgba(0,0,0,0.4);
  background-image: url('./assets/BakeryBootcamp_Hero_color-compressor.jpg');
  padding: 140px 100px;
}

.home .what_we_offer{
  background-color: #EBF7F9;
}

.home .what_we_offer p{
  line-height: 1.4em;
  margin-bottom: 1em;
}

.home .what_we_offer .bakery_program_info{
  line-height: 2em;
  margin-bottom: 3em;
}

.home img{
  width: 100%;
  height: auto;
}

.home p {
  line-height: 1.5em !important;
}

.light_blue_bg{
  background-color: #EBF7F9;
}

a:visited, a:hover, a:active {
  text-decoration: none;
}

.light-bg{
  background-color: #f8f9fa;
  border: 3px solid #0073A7 !important;
}

.light-bg:hover{
  background-color: #f8f9fa;
  border: 3px solid #f8f9fa !important;
}

.light_darker_bg{
  background-color: #95D3DC;
}

.light_darker_text{
  color: #0091ab;
}

/* Bootcamp Schedule */
.bootcamp_schedule tbody{
  font-size: 80%;
}

/* About Page */
.about img{
  width: 100%;
}

.about .vision p{
  line-height: 1.9em;
}

.about .history p{
  line-height: 1.8em;
  text-align: left;
  font-size: 105%;
}

.about .goal p{
  line-height: 2em;
}

.about .staff p{
  line-height: 1.4em;
}

/* Help Page */
.help img{
  width: 100%;
}

/* News Page */
.news img{
  width: 100%;
}

.border-black{
  border-color: black !important;
}

.border-gray{
  border-color: #9A9A9A !important;
}

.news p + div :first-child {
  padding: 2em 0;
}

/* Application Page */
.application p + div :first-child {
  padding: 2.3em 0;
  line-height: 2em;
}
